* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(6, 6, 102);
    background: linear-gradient(to right, rgb(8, 8, 150), rgb(10, 10, 10));
    min-height: 100vh;
    padding: 20px;
}